{% block menu %}
    {% if entry.inActiveTrail or entry.current %}
        {{ block('item') }}
    {% endif %}
{% endblock %}

{% block item %}
    {% import '@Menu/macro/helper.html.twig' as helper %}

    {% if entry.type is same as constant('Braunstetter\\MenuBundle\\Items\\Item::TYPE_URL') %}
        {% set path = entry.url %}
    {% else %}
        {% if entry.routeName %}
            {% set path = entry.routeParameters ? path(entry.routeName, entry.routeParameters) : path(entry.routeName) %}
        {% else %}
            {% set path = null %}
        {% endif %}
    {% endif %}

    {% set label = entry.label %}
    {% set handle = label|lower %}
    {% set selectedSubnavItem = selectedSubnavItem|default(null) %}
    {% set current = selectedSubnavItem is same as handle or entry.current %}
    {% set linkAttr = entry.linkAttr %}

    {% if current or entry.inActiveTrail %}
        {% set linkAttr = linkAttr|merge({'class' : (linkAttr.class|default('') ~ ' active')|trim }) %}
    {% endif %}

    {% if current %}
        {% set linkAttr = linkAttr|merge({'class' : (linkAttr.class|default('') ~ ' current')|trim }) %}
    {% endif %}

    {% set tag = path ? 'a' : 'span' %}

    <{{ tag}} {% if path %}href="{{ path }}"{% endif %} {{ helper.renderAttr(linkAttr) }}>

        <span>{{ label }}</span>
        {% if entry.children is not empty %}
            {{ source('@Menu/svg/caret.svg') }}
        {% endif %}
    </{{ tag }}>

    {% for entry in entry.children %}
        {{ block('menu') }}
    {% endfor %}
{% endblock %}